.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 5px auto;
}

.pagingItem {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
  color: rgb(40, 97, 255);
  background: white;
}

.pagingItem:first-child {
  border-radius: 2px 0 0 2px;
}
.pagingItemArrow {
  margin: 0px 5px;
}

.pagingItemActive {
  background: rgb(40, 97, 255);
  color: white;
}

.pagingItemDisable {
  color: rgb(40, 97, 255, 0.3);
}
