.login__logo {
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login__error {
  color: red;
}

.login__submit {
  margin-top: 20px !important;
  width: 50%;
}

.login__spinner {
  display: block;
  z-index: 100;
  margin: 0px auto;
  position: absolute;
}
