.formContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  padding: 10px !important;
}

.error {
  color: red;
  font-weight: 300;
  padding: 10px 0px;
}

.input {
  padding: 8px 0px !important;
}

.formAction {
  margin: 10px 0px !important;
}

.submit {
  background-color: #2196f3 !important;
}
