.loginPage {
  min-height: 100vh;
  background: linear-gradient(to right bottom, #2196f3, #e9f5fe);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginFrame {
  background: white;
  min-height: 50vh;
  width: 30%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.pageContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.containerTitle {
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.total {
  color: #b1aeae;
  margin-left: 20px;
  font-size: 1rem;
}
