.restaurant-container {
  width: 100%;
  padding: 10px;
  min-height: 71vh;
  display: flex;
  flex-direction: column;
}

.city-filter {
  border: 1px solid rgba(0, 0, 0, 0.7);
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
}

.restaurant-table__head tr th {
  padding: 8px;
}
.restaurant-table__body tr td {
  padding: 8px;
  word-wrap: break-word;
}
.restaurant-table-filter {
  margin-left: 10px;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.restaurant-table-status {
  display: flex;
  justify-content: space-between;

  color: white;
  padding: 10px;
  align-items: center;
}

.add-restaurant-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contract-restaurant-link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.restaurant-table-show-more {
  font-size: 1rem;
  color: #0288d1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
