.user-table__head tr th {
  color: white;
  padding: 10px;
}

.user-table__body tr td {
  padding: 10px;
  word-wrap: break-word;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

.paging-item {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
  color: rgb(40, 97, 255);
  background: white;
}

.paging-item:first-child {
  border-radius: 2px 0 0 2px;
}
.paging-item__arrow {
  margin: 0px 5px;
}

.paging-item__active {
  background: rgb(40, 97, 255);
  color: white;
}

.block-user {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
