.loginPage {
  min-height: 100vh;
  background: linear-gradient(to right bottom, #2196f3, #e9f5fe);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginFrame {
  background: white;
  min-height: 50vh;
  width: 30%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.loadingPage {
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.dashboard {
  min-height: 100vh;
  background: #2196f3;
}

.sidebar {
  min-height: 100vh;
  box-sizing: border-box;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pageContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.notification {
  background-color: #2196f3;
  min-height: 10vh;
  width: 100%;
}

.container {
  min-height: 90vh;
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

.containerTitle {
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 2px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.total {
  color: #b1aeae;
  margin-left: 20px;
  font-size: 1rem;
}

.searchBox {
  display: flex;
  border: 1px solid black;
  border-radius: 25px;
  justify-content: space-between;
  padding-left: 10px;
}

.tableContainer {
  width: 100%;
  padding: 10px;
  min-height: 71vh;
  display: flex;
  flex-direction: column;
}
